/*

#e36189; Pink;
#da6592; Darker Pink;
#22294b; Light Purple;
#1f2446; Dark Purple;
#5fdbc8; Light Green;
#7cd7fe; Light Blue;
#fda47e; Light Orange;
#FCFCF6; White;

*/

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  font-size: 10px;
}

div,
form {
  width: 60%;
  margin: auto;
}

.section-top{
  background-color: #1f2446;
  width: 100%;
}

#filter {
  margin-top: .75em;
}

h1 {
  font-family: "Roboto Slab", serif;
  font-size: 5rem;
  text-align: center;
  color: #e36189;
}

.logo-box {
  color: #5fdbc8;
}

#title {
  margin-bottom: 1rem;
}

input,
.show-completed,
.show-more-todo {
  border: 1px solid #939598;
  color: #939598;
  font-size: 2rem;
  font-weight: 600;
  height: 3rem;
  margin: .5rem 0 0.5rem 0;
  padding: 1rem;
  width: 100%;
}

input::placeholder {
  color: #D1D2D4;
  font-size: 2rem;
}

#submit,
.show-completed,
.show-more-todo{
  background-color: #e36189;
  border: none;
  color: white;
  font-weight: 400;
  letter-spacing: 1.5px;
  margin-bottom: 1.2rem;
  padding: 0rem;
}

.checkbox-div {
  display: inline-block;
  padding: 0 8%;
  width: 19%;
}

.show-completed {
  font-size: 1.5rem;
  letter-spacing: 0.2rem;
  background-color: #1f2446;
}

article {
  color: #222035;
  font-size: 1.2rem;
  width: 100%;
}


h2 {
  color: #5F5C69;
  font-family: "Roboto Slab", serif;
  font-size: 2rem;
}

.todo-task {
  margin: 10px 0;
}

.button {
  margin: 0.3rem 1rem 0 0;
  background-repeat: no-repeat;
  border-radius: 20px;
  border: none;
  height: 30px;
  width: 30px;
}

.todo-delete {
  float: right;
  margin-right: 0;
  background-image: url("../images/delete.svg");
}

.todo-delete:hover {
  background-image:url("../images/delete-hover.svg");
}

.todo-up {
  background-image: url("../images/upvote.svg");
  margin-bottom: 0;
}

.todo-up:hover {
  background-image:url("../images/upvote-hover.svg");
}

.todo-down {
  background-image: url("../images/downvote.svg");
}

.todo-down:hover {
  background-image:url("../images/downvote-hover.svg");
}

.parent-article {
  padding: 9px 16px 23px;
  margin-bottom: 5%;
  border-bottom: 1px solid black;
}

.complete-button {
  display: block;
  border: none;
  color: #FFFFFF;
  background-color: #1f2446;
  height: 30px;
  width: 303px;
  font-size: 1.1em;
  text-align: right;
  letter-spacing: 0.13em;
  border-bottom-right-radius: 20px;
  border-top-right-radius: 20px;
  height: 40px;
  margin-top: 10px;
  padding-right: 18px;
  line-height: 1.4em;
  margin-left: -15px;
}

.task-completed {
  background: linear-gradient(to bottom right, #e36189, #5FDBC8);
}

.task-completed h2,
.task-completed .todo-task {
  text-decoration: line-through;
}

.completed {
  background-color: #5fdbc8;
  border-radius: 1em 0 0 1em;
  margin-left: 22%;
  width: 79.9%;
  text-align: left;
  padding-left: 2.5%;
}

hr {
  margin: 20px 0;
}

.todo-importance-value {
  bottom: 10px;
  display: inline-block;
  position: relative;
}

h3 {
  display: inline-block;
  font-size: 1rem;
  vertical-align: middle;
}

.show-more-todo {
  margin-bottom: -1%;
  border-top-right-radius: 30px;
  border-top-left-radius: 30px;
}

@media screen and (max-width: 700px) {
  div,
  form {
    width: 90%;
    margin: auto;
  }

  h1 {
    font-size: 3rem;
    margin: 0;
  }
  
  .complete-button {
  line-height: 1.5em;
  margin-left: -15px;
  width: 300px;
  border-top-right-radius: 1em;
  border-bottom-right-radius: 1em;
  }

  .show-more-todo {
  margin-bottom: -1%;
  border-top-right-radius: 30px;
  border-top-left-radius: 30px;
  }

  .completed {
  margin-left: 22%;
  width: 79.9%;
  padding-left: 2.5%;
  border-radius: 1em 0 0 1em;
  }

}

@media screen and (max-width: 350px) {
 
 .complete-button {
  width: 209px;
 }

}

@media screen and (min-width: 1400px) {
  div,
  form {
    width: 30%;
    margin: auto;
  }  
  
  h1 {
    font-size: 6rem;
  }

  .completed {
    margin-left: 22%;
    width: 80.1%;
    padding-left: 2.5%;
    border-radius: 1em 0 0 1em;
  }

}
