* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  font-size: 10px;
}

div,
form {
  width: 60%;
  margin: auto;
}

.section-top{
  background-color: #FEF7E3;
  width: 100%;
}

#filter {
  margin-top: .75em;
}

h1 {
  font-family: "Roboto Slab", serif;
  font-size: 5rem;
  text-align: center;
  color: #C30E16;
}

.logo-box {
  color: #222035;
}

#title {
  margin-bottom: 1rem;
}

input {
  border: 1px solid #939598;
  color: #939598;
  font-size: 2rem;
  font-weight: 600;
  height: 3rem;
  margin: .5rem 0 0.5rem 0;
  padding: 1rem;
  width: 100%;
}

input::placeholder {
  color: #D1D2D4;
  font-size: 2rem;
}

input[type="submit"]{
  background-color: #C30E16;
  border: none;
  color: white;
  font-weight: 400;
  letter-spacing: 1.5px;
  margin-bottom: 1.2rem;
  padding: 0rem;
}

article {
  color: #222035;
  font-size: 1.2rem;
  width: 100%;
}

h2 {
  color: #5F5C69;
  font-family: "Roboto Slab", serif;
  font-size: 2rem;
}

.todo-task {
  margin: 10px 0;
}

.button {
  margin: 0.3rem 1rem 0 0;
  background-repeat: no-repeat;
  border-radius: 20px;
  border: none;
  height: 30px;
  width: 30px;
}

.todo-delete {
  float: right;
  margin-right: 0;
  background-image: url("../images/delete.svg");
}

.todo-delete:hover {
  background-image:url("../images/delete-hover.svg");
}

.todo-up {
  background-image: url("../images/upvote.svg");
  margin-bottom: 0;
}

.todo-up:hover {
  background-image:url("../images/upvote-hover.svg");
}

.todo-down {
  background-image: url("../images/downvote.svg");
}

.todo-down:hover {
  background-image:url("../images/downvote-hover.svg");
}

hr {
  margin: 20px 0;
}

.todo-importance-value {
  bottom: 10px;
  display: inline-block;
  position: relative;
}

h3 {
  display: inline-block;
  font-size: 1rem;
  vertical-align: middle;
}

@media screen and (max-width: 700px) {
  div,
  form {
    width: 90%;
    margin: auto;
  }

  h1 {
    font-size: 3rem;
    margin: 0;
  }
}

@media screen and (min-width: 1400px) {
  div,
  form {
    width: 30%;
    margin: auto;
  }  
  
  h1 {
    font-size: 6rem;
  }
}
