  * {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }

  body {
    font-family: "Open Sans", sans-serif;
    font-weight: 400;
    font-size: 10px;
  }

  /*Top section of page*/

  .section-top{
    display: block;
    /*position: fixed;*/
    /*display: table;*/
    height: 40%;
    width: 100%;
    background-color: #e5f3f2;
    margin: auto;
    text-align: center;
  }  

  .container {
    display: block;
    /*vertical-align: middle;*/
  }

  #form {
    display: inline-block;
    width: 60%;
    /*margin: 1.5rem 0 0 0;*/
  }

   #search {
    display: inline-block;
    width: 60%;
    margin-top: .75em;
  }

  h1 {
    font-family: "Roboto Slab", serif;
    font-size: 5rem;
    font-weight: 700;
    margin: 0 0 1rem 0;
  }

  h1 .logo-idea {
    color: #00A79D;
  }

  h1 .logo-box {
    color: #6D6E71;
  }

  #title {
    margin-bottom: 1rem;
  }


  input {
    color: #939598;
    width: 100%;
    height: 3rem;
    font-size: 2rem;
    margin: .5rem 0 0.5rem 0;
    padding: 1rem;
    border: 1px solid #939598;
    font-weight: 600;
  }

  input::placeholder {
    font-size: 2rem;
    color: #D1D2D4;

  }

  input[type="submit"]{
    border: none;
    color: white;
    background-color: #00a79d;
    font-size: 2rem;
    letter-spacing: 1.5px;
    margin-bottom: 1.2rem;
    padding: 0rem;
    font-weight: 400;
    
  }

  .section-bottom {
    /*position: absolute;*/
    display: block;
    /*top: 50%;*/
    /*height: 60%;*/
    width: 100%;
    background-color: #FFFFFF;
    margin: auto;
    text-align: center;
  }

  article {
    display: inline-block;
    width: 60%;
    font-size: 1.2rem;
    color: #939598;
    text-align: left;
  }

  h2 {
    display: inline-block;
    font-family: "Roboto Slab", serif;
    font-size: 2rem;
    color: #6D6E71;
    margin: 2rem 0 0;
  }

  input[type="image"] {
    display: inline-block;
    border-style: none;
    width: 2rem;
    height: 2rem;
    margin: 1rem 1rem 0 0;

  }

  /*input required here for specificty for right margin*/
  input.idea-delete {
    float: right;
    position: relative;
    bottom: -1rem;
    margin-right: 0;
  }

  p.idea-body {
    font-size: 2rem;
    font-weight: 400;
    margin: 10px 0;

  }

  .idea-delete {
    background-image: url("images/delete.svg");
    height: 20px;
    width: 20px;
    border-radius: 20px;
    border: none;
    background-repeat: no-repeat;
  }

  .idea-delete:hover {
    background-image:url("images/delete-hover.svg");
    background-repeat: no-repeat;
  }

  .idea-up {
    background-image: url("images/upvote.svg");
    height: 20px;
    width: 20px;
    border-radius: 20px;
    border: none;
    margin-bottom: 0;
    background-repeat: no-repeat;
  }


  .idea-up:hover {
    background-image:url("images/upvote-hover.svg");
    background-repeat: no-repeat;
  }

  .idea-down {
    background-image: url("images/downvote.svg");
    height: 20px;
    width: 20px;
    border-radius: 20px;
    border: none;
    background-repeat: no-repeat;
  }

  .idea-down:hover {
    background-image:url("images/downvote-hover.svg");
    background-repeat: no-repeat;
  }

  .button-box {
    position: relative;
  }

  hr {
    margin: 20px 0;
  }

  .idea-quality-value {
    display: inline-block;
    position: absolute;
    bottom: 17%;
    left: 90px;
  }

  .idea-quality-heading,
  .idea-quality-value{
    display: inline-block; 
    position: absolute;
    bottom: 17%;
  }


  h3 {
    vertical-align: middle;
    display: inline-block;
    font-size: 1rem;
  }



@media screen and (max-width: 720px) {
  h1{
    font-size: 2.8rem;
    margin: 0 0 .75rem 0;
  }

  input {
    height: 2.3rem;
    font-size: 1rem;
    padding: 24px 0 14px 10px;
    margin-bottom: 4px; 
  }

  input::placeholder { 
    font-size: 25px;
  }

  input[type="submit"]{
    margin-bottom: 12px;
  }

  #title {
    margin-bottom: 5px;
  }

  #search {
  margin-top: 15px;
  }

  #title,
  #body,
  #submit,
  #search {
    height: 43px;
  }

  #form,
  #search,
  article {
    min-width: 300px;
  }
  p.idea-body { 
  font-size: 24px;
   }

  h2.idea-title {
    font-size: 30px;
  } 
}

@media only screen and (max-width:320px) {
 
  .section-top{
    height: 249px;
    width: 100%;
    position: fixed;
    top: 0;
    overflow: hidden;
    float: left;
    z-index: 1;
    min-height: 50%;
  }

  .section-bottom {
    margin-top: 280px;
    z-index: 0;
    max-height: 500px;
  }

  h1 {
    font-size: 2.5rem;
    margin-bottom: 0;
  }

  p.idea-body { 
  font-size: 20px;
   }

  h2.idea-title {
    font-size: 26px;
  } 

  input::placeholder {
    font-size: 20px;
    position: relative;
    bottom: 60%;
  }

  input#body {
    height: 105px;
  }

  #form,
  #search,
  article {
    min-width: 250px;
  }

  .idea-delete,
  .idea-down,
  .idea-up {
    width: 10px;
  }

  #title,
  #search {
    height: 30px;

  }

  #title::placeholder,
  #search::placeholder {
    font-size: 20px;
    position: relative;
    bottom: 50%;

  }

  #submit::placeholder {
    position: relative;
    bottom:50%;
  }
}



